bank_application/Connected Services/CountService/CountService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CalcCredit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Duration" type="xs:int" />
        <xs:element minOccurs="0" name="Money" type="xs:int" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcCreditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalcCreditResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcDeposit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Duration" type="xs:int" />
        <xs:element minOccurs="0" name="Money" type="xs:int" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcDepositResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalcDepositResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>